{% extends "base.html" %}

{% block content %}
{% csrf_token %}


<h1>Storage Node Status</h1>   
<table class="table">
    
    <thead>    
        <tr>
            <th scope="col" >SID</th>
            <th scope="col">IP</th>
            <th scope="col">HBport</th>
            <th scope="col">SFTPport</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for statusInfo in statusInfo_list %}
    <tr>
        
        <th scope="row">{{statusInfo.SID}}</th>
        <td>{{statusInfo.IP}}</td>
        <td> {{statusInfo.port }} </td>
        <td> {{statusInfo.SFTPport }} </td>
        <td> {{statusInfo.status }} </td>
    </tr>
    </tbody>
    {% empty %}
    <h3>No Registered Nodes</h3>
    
    {% endfor %} 
</table>

{% endblock content %}