{% extends "base.html" %}

{% block content %}
{% csrf_token %}

{% if request.user.is_authenticated %}


<!-- search bar -->
<!-- <form action="/file" method="GET">
    <input type="text" name="q">
    <input type="submit" >
</form> -->



{% if request.user.is_superuser %}
<h1>ADMIN PAGE</h1>   
<h2>Total Storage Size: {{totalFileSize | filesizeformat}}  / {{storageSize | filesizeformat}} </h2>
<table class="table">
    
    <thead>    
        <tr>
            <th scope="col" >Owner</th>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
            <th scope="col">Downlad</th>
            <th scope="col">Delete </th>
            <th scope="col" >RAID TYPE</th>
            <th scope="col" >Local Status</th>


        </tr>
    </thead>
    <tbody>
    {% for file in file_list %}
    <tr>
        
        <th scope="row">{{file.owner}}</th>
        <td>{{file.fileName}}</td>
        <td> {{file.actualSize | filesizeformat }} </td>
        <td>  <a class="download-link" href="{% url 'file-retrieve' file.id  %}" > 	<i class="bi bi-cloud-download"   ></i></a>  </td>
        <td><a href="{% url 'file-delete' file.id   %}"><i class="bi bi-trash3"></i></a></td>
        
        <!-- For RAID type -->
        {% if file.RAIDtype ==  "NONE"   %}
        <td><a href="{% url 'file-RAID' file.id %}">{{file.RAIDtype}}</a></td>
        {% else %}
        <td><a href="{% url 'file-UNRAID' file.id %}"> {{file.RAIDtype}}</a></td>
        {% endif %}
        
        {% if file.SID ==  "LOCAL"    %}
        <td><a href="{% url 'file-backToStorageNodes' file.id %}">{{file.SID}}</a></td>
        {% elif file.RAIDtype != "NONE" %}
        <td><a href=""> N \ A </a></td>
        {% else %}
        <td><a href="{% url 'file-toLocalStorage' file.id %}"> {{file.SID}}</a></td>
        {% endif %}
        
        {% empty %}
        <h3>No Files in List</h3>
        
        {% endfor %}    
    </tr>
    </tbody>

</table>

{% else %}
<h1>File List</h1>
<table class="table">
    
    <thead>    
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
            <th scope="col">Downlad</th>
            <th scope="col">Delete </th>
        </tr>
    </thead>
    <tbody>
    {% for file in file_list %} 
    <tr>
        
        <th scope="row">{{file.fileName}}</th>
        <td> {{file.actualSize | filesizeformat }} </td>
                                                            
            <td>  <a class="download-link" href="{% url 'file-retrieve' file.id  %}" > 	<i class="bi bi-cloud-download"   ></i></a>  </td>
            <td><a href="{% url 'file-delete' file.id   %}"><i class="bi bi-trash3"></i></a></td>
        {% empty %}
        <h3>No Files in List</h3>
        
        {% endfor %}    
    </tr>
    </tbody>

</table>



{% endif %}




{% else %}
<p>Please <a href="{% url 'login' %}">Login</a> to See File List page </p>
{% endif %}

{% endblock content %}